
 @media screen and (max-width: 1149px){
.hero {
    height: 450px;
    width: 320px;
    background-image: url(../images/hero-mobile.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;

}

.hero__container {
    padding-top: 100px;

    & .adaptivny-slayder {
        position: relative;
        width: 280px;
        height: 300px;
        padding: 20px;
        background-color: #fff;
    }

    &.container {
        margin: 0px;
    }
}

.adaptivny-slayder input[name="kadoves"] {
    display: none;
}

.kadoves {
    position: absolute;
    left: 85px;
    bottom: -30px;
    text-align: center;
    width: 100px;
}

.kadoves label {
    display: inline-block;
    width: 13px;
    height: 13px;
    cursor: pointer;
    margin: 0 3px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    opacity: 0.6;
}


#slaid1:checked~.kadoves label[for="slaid1"] {
    background-color: rgb(255, 255, 255);
    opacity: 1;
}

#slaid2:checked~.kadoves label[for="slaid2"] {
    background-color: rgb(255, 255, 255);
    opacity: 1;
}

#slaid3:checked~.kadoves label[for="slaid3"] {
    background-color: rgb(255, 255, 255);
    opacity: 1;
}

.adaptivny-slayder-lasekun {
    overflow: hidden;

}

.abusteku-deagulus {
    display: flex;
    width: 100%;
    transition: all 0.5s;
}

.abusteku-deagulus .slider__item {
    width: 100%;
    flex-shrink: 0;
}

#slaid1:checked~adaptivny-slayder-lasekun abusteku-deagulus {
    transform: translate(0);
}

#slaid2:checked~.adaptivny-slayder-lasekun .abusteku-deagulus {
    transform: translateX(-100%);
}

#slaid3:checked~.adaptivny-slayder-lasekun .abusteku-deagulus {
    transform: translateX(-200%);
}

.hero__title {
    font-size: 35px;
    font-family: "Cormorant Infant";
    color: rgb(64, 64, 64);
    font-weight: bold;
    line-height: 1;
    text-align: center;


}

.hero__text {
    margin-top: 20px;
    font-size: 14px;
    font-family: "PT Sans";
    color: rgb(64, 64, 64);
    line-height: 1.556;
    text-align: left;
}
}
    
 @media screen and (min-width: 1150px) {
    

main{
    position: relative;
    top: 0;
    left: 0;
    max-width: 1920px;
      margin-left: auto;
      margin-right: auto;
}


.hero {
    position: relative;
    // left: -270px;
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    height: 580px;
    // width: 1920px;
    // background-size: 100%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;

}


.hero__container {
    display: flex;
     height: 580px;
    padding-top: 80px;
    margin-left: auto;
    margin-right: auto;
    
}

.hero__container {
    display: flex;
    height: 580px;
    padding-top: 80px;
    margin-left: auto;
    margin-right: auto;

    & .adaptivny-slayder {
        position: relative;
        width: 550px;
        height: 350px;
        padding: 41px 41px 50px 40px;
        background-color: #fff;
    }

}
    .adaptivny-slayder input[name="kadoves"] {
        display: none;
    }

    .kadoves {
        position: absolute;
        left: 0;
        bottom: -30px;
        text-align: center;
        width: 100px;
    }

    .kadoves label {
        display: inline-block;
         width: 13px;
         height: 13px;
        cursor: pointer;
        margin: 0 3px;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        opacity: 0.6;
    }


    #slaid1:checked~.kadoves label[for="slaid1"] {
        background-color: rgb(255, 255, 255);
        opacity: 1;
    }

    #slaid2:checked~.kadoves label[for="slaid2"] {
        background-color: rgb(255, 255, 255);
        opacity: 1;
    }

    #slaid3:checked~.kadoves label[for="slaid3"] {
        background-color: rgb(255, 255, 255);
        opacity: 1;
    }

    .adaptivny-slayder-lasekun {
        overflow: hidden;

    }

    .abusteku-deagulus {
        display: flex;
        width: 100%;
        transition: all 0.5s;
    }

    .abusteku-deagulus .slider__item {
        width: 100%;
        flex-shrink: 0;
    }

    #slaid1:checked~adaptivny-slayder-lasekun abusteku-deagulus {
        transform: translate(0);
    }

    #slaid2:checked~.adaptivny-slayder-lasekun .abusteku-deagulus {
        transform: translateX(-100%);
    }

    #slaid3:checked~.adaptivny-slayder-lasekun .abusteku-deagulus {
        transform: translateX(-200%);
    }


    .hero__title {
        font-size: 60px;
        font-family: "Cormorant Infant";
        color: rgb(64, 64, 64);
        font-weight: bold;
        line-height: 1;
        text-align: left;


    }

    .hero__text {
        margin-top: 20px;
        font-size: 17px;
        font-family: "PT Sans";
        color: rgb(64, 64, 64);
        line-height: 1.556;
        text-align: left;


    }

}

