 @media screen and (max-width: 1149px) {
.paginations {
    display: block;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
}

.paginations__button {
    display: block;
     margin: 0 auto;
    font-size: 14px;
    font-family: "PT Sans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.714;
    text-align: left;
    background-color: rgb(72, 151, 76);
    width: 157px;
    height: 56px;
    padding: 22px auto;
    text-align: center;
    border: none;


}
.paginations__button-svg{
    width: 6px;
    height: 10px;
    margin-left: 5px;


}

.paginations__container{
   margin: 20px auto 20px auto;
}

.pagination__number-dots {
    display: block;
    justify-content: center;
    align-items: center;
    border: none;
}
.pagination__list {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: 500;
      margin: 0 13px;

    

    & .pagination__number-list {
        display: flex;

    }

    & .pagination__number:not(:last-child) {
        margin-right: 10px;
    }

    & .pagination__number {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        cursor: pointer;
        text-decoration: none;
        color: inherit;
        border: none;
        background-color: #f7f7f7;
        transition: all 250ms ease-in-out;

    }

    & a.pagination__number:hover,
    & button:hover {
        background-color: #449653;
        color: #ffffff;
    }

    &>button:hover .material-icons,
    &>a:hover .material-icons {
        color: #ffffff;
    }

    & .material-icons {
        font-size: 16px;
        font-weight: 700;
        color: #000000;
        transition: all 250ms ease-in-out;
    }
}

.pagination__arrow {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 15px;
   height: 15px;
   cursor: pointer;
   text-decoration: none;
   color: inherit;
   border: none;
   transition: all 250ms ease-in-out;
   background-position: 50%;

    body.dark-theme & {
        background-color: #292929;

        & .material-icons {
            color: var(--color-light);
        }

        &:hover {
            background-color: #449653;
        }
    }
     & .material-icons-svg {
         fill: #595959;
         width: 10px;
         height: 10px;

         &:hover {
             fill: #449653;
             stroke: #449653;
         }
     }
}


.pagination__arrow.disabled {
    pointer-events: none;
    background-color: none;

    box-shadow: none;

    &:hover {
        background-color: #f7f7f7;
    }

    & .material-icons,
    &:hover .material-icons {
        color: #bdbdbd;

        body.dark-theme & {
            color: var(--color-dark);
        }
    }
}

.pagination__arrow--left {
    transform: matrix(-1, 0, 0, 1, 0, 0);
     margin-right: 10px;
}

.pagination__arrow--right {
     margin-left: 10px;
}

.pointer-events {
    pointer-events: none;
}

a.pagination__number.pagination__number--active {
    background-color: #449653;
    color: #ffffff;
}
 }


@media screen and (min-width: 1150px) {

    .paginations {
        display: flex;
        height: 150px;
        max-width: 1150px;
        margin: 0 auto;
        // justify-content: center;
    }

    .paginations__button {
        display: block;
        font-size: 14px;
        font-family: "PT Sans";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.714;
        text-align: left;
        background-color: rgb(72, 151, 76);
        width: 157px;
        height: 56px;
        padding: 22px auto;
        margin-left: 40px;
        text-align: center;
        border: none;


    }

    .paginations__button-svg {
        width: 6px;
        height: 10px;
        margin-left: 5px;


    }

    .pagination__number-dots {
        display: block;
        justify-content: center;
        align-items: center;
        border: none;
        padding: 15px 10px 20px 0px;
    }

    .pagination__list {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-left: 362px;
        font-weight: 500;



        & .pagination__number-list {
            display: flex;

        }

        & .pagination__number:not(:last-child) {
            margin-right: 10px;
        }

        & .pagination__number {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 56px;
            height: 56px;
            cursor: pointer;
            text-decoration: none;
            color: inherit;
            border: none;
            background-color: #f7f7f7;
            transition: all 250ms ease-in-out;
            box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.04);


        }

        // & a.pagination__number:hover,
        // & button:hover {
        //     background-color: #449653;
        //     color: #ffffff;
        // }

        &>button:hover .material-icons,
        &>a:hover .material-icons {
            color: #ffffff;
        }

        & .material-icons {
            font-size: 16px;
            font-weight: 700;
            color: #000000;
            transition: all 250ms ease-in-out;
        }
    }

    .pagination__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        cursor: pointer;
        text-decoration: none;
        color: inherit;
        border: none;
        transition: all 250ms ease-in-out;
        background-position: 50%;

        body.dark-theme & {
            background-color: #292929;

            & .material-icons {
                color: var(--color-light);
            }

        }

        & .material-icons-svg {
            stroke: #595959;
            width: 13px;
            height: 13px;

            &.prev{
              stroke: #b3b3b3;
            }

            &:hover {
                stroke: #449653;
            }
        }
    }


    .pagination__arrow.disabled {
        pointer-events: none;
        background-color: none;
        box-shadow: none;
        stroke: #bdbdbd;

        &:hover {
            background-color: #f7f7f7;
        }

        & .material-icons,
        &:hover .material-icons {
            color: #bdbdbd;
            stroke: #bdbdbd;


            body.dark-theme & {
                color: var(--color-dark);
            }
        }
    }

    .pagination__arrow--left {
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    .pointer-events {
        pointer-events: none;
    }

    a.pagination__number.pagination__number--active {
        background-color: #449653;
        color: #ffffff;
    }



}